#Telegram
BOT_TOKEN=...

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_secure_password_here
DB_NAME=abitur

DB_ECHO=False
DB_POOL_SIZE=5
DB_MAX_OVERFLOW=10

# Testing
TEST_DB_NAME=abitur_test
