abbreviations:
- short: НГУ
  full: Новосибирский государственный университет
- short: ФИТ
  full: Факультет информационных технологий
- short: ГГФ
  full: Геолого-геофизический факультет
- short: ФФ
  full: Физический факультет
- short: ММФ
  full: Механико-математический факультет
- short: ФЕН
  full: Факультет естественных наук
- short: ЭФ
  full: Экономический факультет
- short: ГФ
  full: Гуманитарный факультет
- short: ЮФ
  full: Юридический факультет
- short: МФ
  full: Медицинский факультет
- short: ФИ
  full: Философский факультет
- short: ПИиКН
  full: Программная инженерия и компьютерные науки
- short: КНиС
  full: Компьютерные науки и системотехника
- short: ЕГЭ
  full: Единый государственный экзамен
- short: ДВИ
  full: Дополнительное вступительное испытание
- short: БВИ
  full: Без вступительных испытаний (поступление по олимпиаде)
- short: ОГЭ
  full: Основной государственный экзамен
- short: СО РАН
  full: Сибирское отделение Российской академии наук
- short: ННЦ
  full: Новосибирский научный центр
